@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply font-urbanist;
}
nav {
  @apply max-w-[1440px] p-4 mx-auto text-white;
}

header {
  @apply max-w-[1440px] p-4 mx-auto text-white;
}

.mw {
  @apply max-w-[1440px] p-4 mx-auto text-white;
}

/* New */

.swiper-btns {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 1rem;
  padding: 1rem;
  z-index: 9999;
}

.swiper-prev,
.swiper-next {
  color: white !important;
  border-radius: 9999px !important;
  /* background-color: #006a7a !important; */
  padding: 12px !important;
  width: fit-content;
  /* width: 40px !important; */
  /* height: 40px !important; */
}
.swiper-prev {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-image: url("../assets/icon/slider/next.svg") !important;
  background: no-repeat;
}
.swiper-next {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-image: url("../assets/icon/slider/prev.svg") !important;
  background: no-repeat;
}
/* End New */

/* Last */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 200px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: white !important;
  border-radius: 9999px !important;
  background-color: #006a7a !important;
  padding: 32px !important;
  font-weight: 700;
  width: 10px !important;
  height: 10px !important;
}
.swiper-button-next {
  border-radius: 20px !important;
  color: white !important;
  border-radius: 9999px !important;
  background-color: #006a7a !important;
  padding: 32px !important;
  font-weight: 700;
  width: 10px !important;
  height: 10px !important;
} */
/* End Last */

/* .swiper-button-next,
.swiper-button-prev {
 max-width: 2;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
} */

/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
